:root {
  --header-color: #000000;
  --background-color: #D3D3D3;
  --primary-color: #000000;
  --primary-font: 'Mochiy Pop P One', sans-serif;
  --font-size-body: 24px;
  --font-weight-light: 400;
  --bg-button: #749f8d;
  --modal-close: red;
  --modal-bg: #fff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-body);
  line-height: 1.6;
  color: var(--primary-color);
  background-color: var(--background-color);
}

main {
  margin: 20px;
  padding-top: 80px;
}

.page-header {
  display: flex;
  width: 100%;
  background-color: var(--header-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.pokemon-button {
  border-color: var(--background-color);
  margin-bottom: 10px;
  padding: 20px;
  background-color: var(--bg-button);
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  width: 12vw;
  height: 12vw;
  border-radius: 100px;
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: var(--modal-bg);
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-close {
  float: right;
  border: 0;
  background: none;
  color: var(--modal-close);
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: block;
}

.pokemon-list {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}